.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient( 109.6deg,  rgba(253,199,141,1) 11.3%, rgba(249,143,253,1) 100.2% );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.Result-content
{
  word-break: break-all; /*ref https://css-tricks.com/almanac/properties/w/word-break/  to break the token within the box*/
}
.App-title
{
  color: white;
  font-family:Impact, Charcoal, sans-serif;
}